   <header class="sub-page-header" id="bakeShop">
{{!--
    <div class="header-background">
      <img src="/assets/img/coffeeImg/food2.jpg" class="background-image">
      <div class="left-overlay"></div>
    </div><!--/ .header-background -->--}}

    <div class="header-columns">
      <div class="header-column illustration-column">
        <img src="/assets/img/coffeeImg/logo.jpg" class="img-circle logo-image">
      </div><!--/ .header-column 1 -->

      <div class="header-column copy-column">
        <div class="header-content">
          <h1><span class="column-header-text">Bake Shop</span></h1>
          <p>
            <em>Dollop</em> locations are spread around the City of Chicago, perfectly 
            positioned for those of you with current severe coffee addictions. 
            Up and coming coffee addicts fear not, we do not frown upon you. 
            You'll get there. Here are all the places you can get your fix. 
            Uptown, Lakeview, Streeterville (x2), Evanston, The Loop (x3), 
            Ukrainian Village, and now Hyde Park. Whaaaaat!
          </p>
        </div>
      </div><!--/ .header-column 2 -->
    </div>

  </header>
 
 <div id="chefs" class="parallax pricing">
        <div class="container inner">

            <h2 class="section-title text-center">Our Chefs</h2>
            <p class="lead main text-center">There is no sincerer love than the love of food!</p>
            
            <div class="row text-center chefs">
                <div class="col-sm-4">
                    <div class="col-wrapper">
                        <div class="icon-wrapper">
                            <img src="img/chefs/1.jpg">
                        </div>
                        <h3>Saransh Goila</h3>
                        <p>Vivamus sagittis lacuson augue laoreet rutrum faucibus dolor auctor. Cras mattis consectetur purus sit amet fermentum ultricies vehicula.</p>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="col-wrapper">
                        <div class="icon-wrapper">
                            <img src="img/chefs/3.jpg">
                        </div>
                        <h3>Jane Doe</h3>
                        <p>Nullam id dolor id nibh ultricies vehicula ut id elit. Cum sociis natoque penatibus et magnis dis parturient monte nascetur ultricies vehicula. </p>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="col-wrapper">
                        <div class="icon-wrapper">
                            <img src="img/chefs/2.jpg">
                        </div>
                        <h3>Anton Mosimann</h3>
                        <p>Curabitur blandit matti tempus porttitor. Donec id elit non mi porta ut gravida at eget metus. Consectetur adipiscing elit ultricies vehicula.</p>
                    </div>
                </div>
            </div>

        </div>
        <!-- /.container --> 
    </div><!-- /#chefs -->
