   {{!--TODO: active class for nav bar--}}
   
   <div id="header">
        <div class="bg-overlay"></div>
        <div class="center text-center">
            <img class="logoImg img-circle text-center"  height="200" width="200" src="/assets/img/coffeeImg/logo.jpg" alt="">
            <div class="banner">
                <h1 id="crickets">Cricket's Coffee</h1>
            </div>
            {{!--<div class="subtitle"><h4>Stop by for some coffee!</h4></div>--}}
        </div>
        {{!--<div class="bottom text-center">
            <a id="scrollDownArrow" href="#"><i class="fa fa-chevron-down"></i></a>
        </div>--}}
    </div>
    <!-- /#header --> 
  

    <div id="story" class="light-wrapper">
        <section class="ss-style-top"></section>
        <div class="container inner">
            <h2 class="section-title text-center">Our Story</h2>
            <p class="lead main text-center">We have been serving caffain-thirst students and professors coffee since 2014</p>
            <div class="row text-center story">
                <div class="col-sm-4">
                    <div class="col-wrapper">
                        <div class="icon-wrapper"> <i class="fa fa-coffee"></i> </div>
                        <h3>Our History</h3>
                        <p>Vivamus sagittis lacuson augue laoreet rutrum faucibus dolor auctor. Cras mattis consectetur purus sit amet fermentum ultricies vehicula.</p>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="col-wrapper">
                        <div class="icon-wrapper"> <i class="fa  fa-cutlery"></i> </div>
                        <h3>Baking Traditions</h3>
                        <p>Nullam id dolor id nibh ultricies vehicula ut id elit. Cum sociis natoque penatibus et magnis dis parturient monte nascetur ultricies vehicula. </p>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="col-wrapper">
                        <div class="icon-wrapper"> <i class="fa fa-music"></i> </div>
                        <h3>Open Mic Night</h3>
                        <p>Curabitur blandit matti tempus porttitor. Donec id elit non mi porta ut gravida at eget metus. Consectetur adipiscing elit ultricies vehicula.</p>
                    </div>
                </div>
            </div>
            <!-- /.services --> 
        </div>
        <!-- /.container -->
        <section class="ss-style-bottom"></section>
    </div><!-- #story -->

    <div id="facts" class="parallax parallax2 facts">
        <div class="container inner">
            <div class="row text-center services-3">                
            </div>
        </div>
        <!-- /.container --> 
    </div><!-- #facts -->

{{!--open mic part--}}


  <section class="sub-content row">
  <div class="left-column">
    <div class="circle-box">
      <img src="" class="stars-n-stripes">
    </div>
    <img src="/assets/img/coffeeImg/openmic1.jpg" class="img-circle">
  </div>
  <div class="right-column">
    <div class="join-club">
      <div class="join-club-header">
        <h1>
          <span class="column-header-text">Open Mic Every Wednesday!</span>
          <div class="circles">
        
          </div>
        </h1>
      </div><!--/ .join-club-header -->
      <div class="column-content">
        <p>
          Come to the Cricket's Coffee with your guitars, banjos, drums, flutes, Tin Wistles, Poems that you wrote in one of your creatinve writing class or Kazoo. Show off your talent! Sing, read or play anything you want. Just sign up your name to play on note you see when you walk in to the coffee shop. Open Mic happens:  <br>    
        3pm - 5pm
        <br>    
         Jam on!
        </p>
      </div>
    </div>
  </div>
</section><!--/ .join-club-wrapper -->
   {{!--<section class="ss-style-bottom"></section>--}}
 


    <div id="special-offser" class="parallax pricing">
        <div class="container inner">

            <h2 class="section-title text-center">Special Offers</h2>
            <p class="lead main text-center">There is no sincerer love than the love of food!</p>

             <div class="row text-center chefs">
                <div class="col-sm-4">
                    <div class="col-wrapper">
                        <div class="icon-wrapper">
                            <img src="/assets/img/coffeeImg/event.jpg">
                        </div>
                        <h3>Anniversary event!</h3>
                        <p>Nullam id dolor id nibh ultricies vehicula ut id elit. Cum sociis natoque penatibus et magnis dis parturient monte nascetur ultricies vehicula. </p>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="col-wrapper">
                        <div class="icon-wrapper">
                            <img src="/assets/img/coffeeImg/cupon.jpg">
                        </div>
                        <h3>Buy 9 get 10th free!</h3>
                        <p>Vivamus sagittis lacuson augue laoreet rutrum faucibus dolor auctor. Cras mattis consectetur purus sit amet fermentum ultricies vehicula.</p>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="col-wrapper">
                        <div class="icon-wrapper">
                            <img src="/assets/img/coffeeImg/menu3.jpg">
                        </div>
                        <h3>Cricket's Perks</h3>
                        <p>Curabitur blandit matti tempus porttitor. Donec id elit non mi porta ut gravida at eget metus. Consectetur adipiscing elit ultricies vehicula.</p>
                    </div>
                </div>
            </div>


        </div>
        <!-- /.container --> 
    </div><!-- /#special-offser -->
    <section class="ss-style-bottom"></section>




   
    