
 <header id="location" class="sub-page-header">
{{!--
    <div class="header-background">
      <img src="/assets/img/coffeeImg/window5.jpg" class="background-image">
      <div class="left-overlay"></div>
    </div>--}}
    <!--/ .header-background -->

    <div class="header-columns">
      <div class="header-column illustration-column">
        <img src="/assets/img/coffeeImg/logo.jpg" class="img-circle logo-image">
      </div><!--/ .header-column 1 -->

      <div class="header-column copy-column"> 
        <div class="header-content">
          <h1><span class="column-header-text">LOCATIONS</span></h1>
          <p>
            <em>Cricket's Coffee</em> locations are in the heart of main street of Geneseo,  perfectly 
            positioned for those of you students with current severe coffee addictions especially during the midterms/finals. 
            Up and coming coffee addicts fear not, we do not frown upon you. Leave the library, your dorm room or south hall RIGHT NOW and come to Cricket's coffee to get your work done with a cuppa. We will provide you unlimited wifi and nice cozy atomosphere. See you soon!           
             
          </p>
        </div>
      </div><!--/ .header-column 2 -->
    </div>

  </header><br><br>

  <section class="locations-grid">    
    <article class="location-cell row">
      <div class="row text-center chefs">
        <div class="col-md-6">
          {{!--<div class="dollop-circle-wrap">
            <div class="dollop-circle"></div>
          </div>--}}
            <img src='/assets/img/coffeeimg/bear.png' style="width:45%"></img>
          <h3>Geneseo</h3>
          <div class="address">
            53 Main St <br>Geneseo, NY 14454
          </div>
          <div class="phone">
            (585) 245 8984     </div>
          <h4><hr>HOURS</h4>
          <div class="hours">
            Monday-Friday: 7<em>am</em> - 5<em>pm</em>
          </div>
          <div class="hours">
            Weekends: 8<em>am</em> - 5<em>pm</em>
          </div><br><br>

        </div>
        <div class="col-md-6">
          <div id="map"></div>

        </div>

    
    </div>
    </article>
  </section><!--/ .locations-grid -->



    
    <script>
      function initMap() {
        var uluru = {lat: 42.796723, lng: -77.816507};
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 15,
          center: uluru
        });
        var marker = new google.maps.Marker({
          position: uluru,
          map: map
        });
      }
    </script>
    <script async defer
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDwi6ReHWczR3f1bBamtv7v8DbuIUeMGSs&callback=initMap">
</script>