
  <header class="sub-page-header" id="menu">

    {{!--<div class="header-background">
      <img src="/assets/img/coffeeImg/waffle3.jpg" class="background-image">
      <div class="left-overlay"></div>
    </div><!--/ .header-background -->--}}

    <div class="header-columns">
      <div class="header-column illustration-column">
        <img src="/assets/img/coffeeImg/logo.jpg" class="img-circle logo-image">
      </div><!--/ .header-column 1 -->

      <div class="header-column copy-column">
        <div class="header-content">
          <h1><span class="column-header-text">Menu</span></h1>
          <p>
            At <em>Cricket's Coffee</em>, we strive to use the finest ingredients humanly possible. We prepare coffee with the same pride in which the beans we buy are sourced. Our bacon, sausage and eggs are farm fresh. Deli meat is never processed. Our bake shop makes our own preserves, granola, and syrups. We encourage you to visit our cafes and taste the difference!
          </p>
        </div>
      </div><!--/ .header-column 2 -->
    </div>

  </header>
{{!--

    <div id="special-offser" class="parallax pricing">
        <div class="container inner">

            
        </div>
        <!-- /.container --> 
    </div><!-- /#special-offser -->--}}


<div class="page menu sub-page">

  <header class="sub-page-header">

 

  </header>

  <section class="sub-header">
 
  </section><!--/ .sub-header -->

  <section class="menu-content">
    <div class="row">
      <div class="col-4">
        <article>
          <h3 class="title">HOT DRINKS</h3>
          <ul data-menu-section="hot-drinks">
            <li>Coffee</li>
            <li>Lattee</li>
            <li>Americano</li>
            <li>Cappucino</li>
            <li>Mocha</li>
            <li>Espresso</li>
            <li>Macchiato</li>

          </ul>
        </article>
      </div>
           
      <div class="col-4">
        <article>
          <h3 class="title">SPECIALTY DRINKS</h3>
          <ul data-menu-section="specialty-drinks">
            <li>Chai Latte
              <p>Chocolate, Vanila</p>
            </li>
            <li>Dirty Chai
              <p>Chocolate, Vanila</p>
            </li>
            <li>Hot Cocoa</li>
            <li>Honey Cinnamon Latte</li>
             
          </ul>
        </article>
      </div>
      <div class="col-4">
        <img src="/assets/img/coffeeImg/coffee7.jpg">
      </div>
    </div><!--/ .row 1 -->

    <div class="row">
      <div class="col-8">
        <article>
          <h3 class="title">"ICED" DRINKS</h3>
          <ul class="wide-list" data-menu-section="cold-drinks">
            <li>Cold brew</li>
            <li>Lattee</li>
            <li>Chai Latee</li>
            <li>Cappucino</li>
            <li>Tea</li>
            <li>Americano</li>
          </ul>
        </article>
        <article>
          <h3 class="title">TEA</h3>
          <ul data-menu-section="tea">
            <li>Black
              <p>Masala Chai, China Breakfast, Earl Grey, Darjeeling</p>
            </li>
            <li>Green
              <p>Masala Chai, China Breakfast, Earl Grey, Darjeeling</p>
            </li>
            <li>Herbal
              <p>Masala Chai, China Breakfast, Earl Grey, Darjeeling</p>
            </li>
          </ul>
        </article>

      </div>
      <div class="col-4">
        <img src="/assets/img/coffeeImg/food10.jpg">
      </div>
    </div><!--/ .row 2 -->

    <div class="row">
      <div class="col-4">
        <article>
          <h3 class="title">BREAKFAST</h3>
          <ul data-menu-section="breakfast">
            <li>Waffles 
              <p>Straberry, Chocolate, Pinapples</p>
            </li>
             <li>BAGlE $ Crream Cheese
              <p>Straberry, Chocolate, Pinapples</p>
            </li>
             <li>Parafett
              <p>Straberry, Chocolate, Pinapples</p>
            </li>
          </ul>
        </article>
      </div>
        <div class="col-4">
        <img src="/assets/img/coffeeImg/food7.jpg">
      </div>
      {{!--<div class="col-4">
        <article>
          <h3 class="title">PIE &amp; QUICHE</h3>
          <ul data-menu-section="pie"></ul>
        </article>
        <article>
          <h3 class="title">SALADS</h3>
          <ul data-menu-section="salad"></ul>
        </article>
      </div>--}}
      <div class="col-4">
        <article>
          <h3 class="title">LUNCH</h3>
          <ul data-menu-section="lunch">
            <li>Turkey Penini
              <p>Turkey Breast, Avocado, Garlic Aioli, White Cheddar, Lettuce & Tomato</p>
            </li>
             <li>BRIE SANDWICH
              <p>Brie Cheese, Pear, Fig Jam</p>
            </li>
             <li>VEGGIE SANDWICH
              <p>Cucumber, Tomato, Goat Cheese Spread, Roasted Red Peppers</p>
            </li>
          </ul>
        </article>
      </div>
    </div><!--/ .row 3 -->
  </section><!--/ .menu-content -->



{{!--img slider pop ups lets do it!--}}



{{!-- 
 <div id="ninja-slider">
        <div class="">
            <ul>
                <li><a class="ns-img" href="/assets/img/coffeeImg/food6.jpg"></a></li>
                <li><a class="ns-img" href="/assets/img/coffeeImg/waffle3.jpg"></a></li>
                <li><a class="ns-img" href="/assets/img/coffeeImg/food8.jpg"></a></li>
                <li><a class="ns-img" href="/assets/img/coffeeImg/waffle4.jpg"></a></li>
                <li><a href="/"><img class="ns-img" src="/assets/img/coffeeImg/food9.jpg"></a></li>
                <li><a class="ns-img" href="/assets/img/coffeeImg/waffle5.jpg"></a></li>
            </ul>
        </div>
  </div>    
 

  --}}
</div>

