
  <header class="sub-page-header" id="menu">

    {{!--<div class="header-background">
      <img src="/assets/img/coffeeImg/waffle3.jpg" class="background-image">
      <div class="left-overlay"></div>
    </div><!--/ .header-background -->--}}

    <div class="header-columns">
      <div class="header-column illustration-column">
        <img src="/assets/img/coffeeImg/logo.jpg" class="img-circle logo-image">
      </div><!--/ .header-column 1 -->

      <div class="header-column copy-column">
        <div class="header-content">
          <h1><span class="column-header-text">Menu</span></h1>
          <p>
            At <em>Cricket's Coffee</em>, we strive to use the finest ingredients humanly possible. We prepare coffee with the same pride in which the beans we buy are sourced. Our bacon, sausage and eggs are farm fresh. Deli meat is never processed. Our bake shop makes our own preserves, granola, and syrups. We encourage you to visit our cafes and taste the difference!
          </p>
        </div>
      </div><!--/ .header-column 2 -->
    </div>

  </header>
    <div id="special-offser" class="parallax pricing">
        <div class="container inner">

            
        </div>
        <!-- /.container --> 
    </div><!-- /#special-offser -->