  <header class="sub-page-header">

    <div class="header-background">
      <img src="/assets/img/coffeeImg/shop2.jpg" class="background-image">
      <div class="left-overlay"></div>
    </div><!--/ .header-background -->

    <div class="header-columns">
      <div class="header-column illustration-column">
        <img src="/assets/img/coffeeImg/logo.jpg" class="img-circle logo-image">
      </div><!--/ .header-column 1 -->

      <div class="header-column copy-column">
        <div class="header-content">
          <h1><span class="column-header-text">Shop</span></h1>
          <p>
            <em>Dollop</em> locations are spread around the City of Chicago, perfectly 
            positioned for those of you with current severe coffee addictions. 
            Up and coming coffee addicts fear not, we do not frown upon you. 
            You'll get there. Here are all the places you can get your fix. 
            Uptown, Lakeview, Streeterville (x2), Evanston, The Loop (x3), 
            Ukrainian Village, and now Hyde Park. Whaaaaat!
          </p>
        </div>
      </div><!--/ .header-column 2 -->
    </div>

  </header>