  <header class="sub-page-header" id="shop">

    {{!--<div class="header-background">
      <img src="/assets/img/coffeeImg/shop2.jpg" class="background-image">
      <div class="left-overlay"></div>
    </div><!--/ .header-background -->--}}

    <div class="header-columns">
      <div class="header-column illustration-column">
        <img src="/assets/img/coffeeImg/logo.jpg" class="img-circle logo-image">
      </div><!--/ .header-column 1 -->

      <div class="header-column copy-column">
        <div class="header-content">
          <h1><span class="column-header-text">Shop</span></h1>
          <p>
            You don't know what to get your roomate for her/his birthday?  Do you want to give your professors thank you gift for having you pass the gen-ed class? Then come to <em>Cricket's Coffee</em> and get a gift that's not caffeenated. We got tumblr and soap. That's about it but nothing can get personal like buying gift from Cricket's Coffee. Come on in and have take a look at what we've got! Onine shop/shipping is not available.
          </p>
        </div>
      </div><!--/ .header-column 2 -->
    </div>

  </header>


  <section class="sub-content row">
  <div class="left-column">
    <div class="circle-box">
      <img src="" class="stars-n-stripes">
    </div>
    <img src="/assets/img/coffeeImg/shop2.jpg" class="img-circle">
  </div>
  <div class="right-column">
    <div class="join-club">
      <div class="join-club-header">
        <h1>
          <span class="column-header-text">Assorted Home-made Soap!</span>
          <div class="circles">
        
          </div>
        </h1>
      </div><!--/ .join-club-header -->
      <div class="column-content">
        <p>
          Come in and check out our delicatly crafted soap and other bath stuff blahblah. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Quisque ut placerat odio, non tempor orci.         
        </p>
      </div>
    </div>
  </div>
</section>

  <section class="sub-content row">
  <div class="left-column">
    <div class="circle-box">
      <img src="" class="stars-n-stripes">
    </div>
    <img src="/assets/img/coffeeImg/shop3.jpg" class="img-circle">
  </div>
  <div class="right-column">
    <div class="join-club">
      <div class="join-club-header">
        <h1>
          <span class="column-header-text">Tumblr</span>
          <div class="circles">
        
          </div>
        </h1>
      </div><!--/ .join-club-header -->
      <div class="column-content">
        <p>
          Come in and check out our Tumblr that keeps your caffenated drink hot and fresh! Donec facilisis eget nulla id rhoncus. Donec feugiat volutpat sem eget lacinia. Aliquam tempor quam massa, a viverra ligula ultrices a. Aliquam pellentesque maximus magna. Pellentesque tempus nibh sapien, at dapibus ligula bibendum sed.       
        </p>
      </div>
    </div>
  </div>
</section>
